/**
 *
 * file: base.less
 * description: base styling for info component
 *
 */

.g5-component--info {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em 2em 2em;
    margin: 1em auto;
    max-width: 600px;
    box-shadow: 0 .3em .3em rgba(142, 142, 142, 0.2);

    h1 {
        font-size: 2.6em;
        margin-bottom: 1em;
        line-height: 1.6em;

        small {
            display: block;
            font-size: 60%;
        }
    }

    h2 {
        color: rgb(131, 131, 131);
        font-family: Times, serif;
        font-size: 1.4em;
    }

    ul {
        border-left: 2px solid rgb(237, 237, 237);
        border-right: 2px solid rgb(237, 237, 237);
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            a {
                display: block;
                padding: 1em;
                background: rgb(249, 249, 249);
                font-size: 1.1em;

                &:hover {
                    background: rgb(237, 237, 237);
                    text-decoration: none;
                }
            }
        }
    }

}
